<table>
  <tr><td> Añadir Comentario:</td></tr>
  <form method="POST" action="/quizes/<%= quizid %>/comments">
  <tr><td>
    <input type="text" id="comment" name="comment[texto]" value=""/>
  </td></tr>
  <tr><td>
    <button type="submit">Enviar</button>
  </td></tr>
  </form>
</table>
