<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quiz question</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas</h2>
    <form method="GET" action="/quizes/answer">
      Pregunta: <%= pregunta %> <p>
      <input type="text" name="respuesta" value="Responda aquí"/>
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
